torch
numpy
setuptools
transformers>=4.44.2
datasets>=3.0.0
pydantic_config@git+https://github.com/samsja/pydantic_config.git@74c94ee
einops
torchdata>=0.8.0
fsspec[gcs]>=2024.3.1
ninja
zstandard
pyarrow
toposolve
psutil
wandb
asyncio>=3.4.3
aiohttp>=3.10.5
requests>=2.32.3
